body {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: black;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
}

.text-content {
    max-width: 70%;
}

.anton-sc-regular {
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; 
}

.image-content img {
    width: 100px; 
    height: auto;
    object-fit: cover;
}

.small-images {
    display: grid;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: auto;
    gap: 10px;
}

.small-images img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}
